body {
    margin: 0;
    --bg-color: #FFFFFF;
}

.dark-mode {
    --bg-color: #00000;
}

.body-container {
    height: 100vh;
    display: grid;
    grid-template-areas: "header header" "sidebar content";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 6rem auto;
}

.header {
    grid-area: header;

    padding-left: 2rem;
    padding-right: 2rem;

    display: flex;
    justify-content: space-between;

    background-color: #1264ca;
}

.hamburger-menu-btn {
    visibility: hidden;
    margin-top: auto;
    margin-bottom: auto;
}

.sidebar {
    grid-area: sidebar;
    height: 100%;
    display: flex;
    flex-direction: column;

    background-color: #12abca;
}

.sidebar > div {
    width: 80%;
    margin: auto;
    padding: 1rem;
    background-color: lightgray;
    border-radius: 0.5rem;
}

.sidebar > div:hover {
    filter: brightness(80%);
    transition: 0.25s;
}

.content-area {
    padding: 1rem;
    grid-area: content;
}

.content-area div {

}

@media (max-width: 800px) {
    .body-container {
        grid-template-areas:
          "header"
          "content";
        grid-template-columns: 1fr;
    }

    .sidebar {
        display: none;
    }

    .hamburger-menu-btn {
        visibility: inherit;
    }
}

.carousel {
    animation-name: carousel;
}
@keyframes carousel {

}

.carousel > img {
    width: 40vw;
    height: 40vh;
}


.btn-outline {
    border: 3px solid black;
    background-color: RGBA(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
}

.btn-outline:hover {
    background-color: RGBA(0, 0, 0, 0.3);
    animation: pulse 2s infinite;
}